.technologies-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: calc(100vh - 3.5rem);
  background-color: $black;
  color: $white;

  // padding-top: 4.5rem;

  .tech-title {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
    width: 30rem;
    max-width: 100%;

    h2 {
      font-size: 3rem;
    }

    span {
      font-size: 2.5rem;
      font-weight: bold;
      color: $blue;  

      &:nth-of-type(1) {
        margin-right: 0.25rem;
      }  
      &:nth-of-type(2) {
        margin-left: 0.25rem;
      }
    }
  }

  .techs-wrapper {
    width: clamp(15rem, 80rem, 100vw);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .tech-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 10rem;
      height: 10rem;
      min-width: 2rem;
      font-weight: 700;

      img {
        width: 100%;

        &#js-img {
          width: 5.5rem;
          margin: 1.1rem 0;
        }
      }
    }
  }


}