* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;

  -webkit-tap-highlight-color: transparent; // remove color highlight on tap
}

a {
  text-decoration: none;
  color: inherit;
  &:focus-visible, &:focus-within, &:focus, &:active, &:target {
    border: 0;
    outline: 0;
    background-color: transparent;
  }
}

$assetsUrl: '../assets';

// Color Variables
$green: #3c735f;
$yellow: #f2cb05;
$orange: #f2a922;
$orange-text: #b67c34;
$blue: #4276E9;

$blue-mirror: rgba(8, 80, 235, 0.98);
$dark-blue-mirror: rgba(39, 20, 163, 0.98);
$indigo-mirror: rgb(57, 21, 142, 0.98);


$light-blue: #6c96f5;
$dark-blue: #071636;
$red: #a62f26;
$white: #dadada;
$black: #141414;
$black-mirror: rgba(30, 30, 30, 0.60);
$gray: #1b1b1b;
$gray-90: rgba(75, 75, 75, 0.9);

// Media Variables
$tablet-size: "min-width: 425px";
$notebook-size: "min-width: 769px";
$desktop-size: "min-width: 1025px";

// Animations

// ----------------------------------------
// Rotate 360
// ----------------------------------------
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

// ----------------------------------------
// Animation Color Change
// ----------------------------------------
@-webkit-keyframes color-change-3x {
  0% {
    background: $blue-mirror;
  }
  50% {
    background: $dark-blue-mirror;
  }
  100% {
    background: $indigo-mirror;
  }
}
@keyframes color-change-3x {
  0% {
    background: $blue-mirror;
  }
  50% {
    background: $dark-blue-mirror;
  }
  100% {
    background: $indigo-mirror;
  }
}

@import '../components/Header/Header';
@import '../components/Hello/Hello';
@import '../components/AboutMe/AboutMe';
@import '../components/Projects/Projects';
@import '../components/ProjectsCards/ProjectsCards';
@import '../components/Technologies/Technologies';
@import '../components/Contact/Contact';
@import '../components/MenuButton/MenuButton';